
--==============================================================
-- Table: Клиент
--==============================================================
create table Клиент (
id integer primary key,
Логин                VARCHAR(16)          not null,
Пароль               VARCHAR(16)          not null,
Фамилия              VARCHAR(100)         not null,
Имя                  VARCHAR(100)         not null,
email     VARCHAR(50)
);

--==============================================================
-- Table: Книга
--==============================================================
create table Книга (
id          INTEGER              primary key,
Категория varchar(100),
Автор           VARCHAR(500)         not null,
Название             VARCHAR(100)         not null,
Издательство         VARCHAR(20),
ISBN varchar(30),
Год_издания          INTEGER,
Аннотация            CHAR(254),
Переплет               VARCHAR(20),
Количество_страниц   INTEGER,
Обложка              blob,
Количество_книг      INTEGER,
Цена                 NUMERIC(8,2)         not null,
Случайное_число      INTEGER
);

--==============================================================
-- Table: Поставщик
--==============================================================
create table Поставщик (
Имя                  VARCHAR(100)         not null,
Адрес_поставщика     VARCHAR(100)         not null,
"e-mail_поставщика"  VARCHAR(50)          not null,
телефон_поставщика   INTEGER              not null,
primary key (Имя)
);

--==============================================================
-- Table: Заказ_поставщику
--==============================================================
create table Заказ_поставщику (
Номер_заказа_поставщику INTEGER              not null,
Имя                  VARCHAR(100)         not null,
Дата_заказа_поставщику DATE                 not null,
primary key (Номер_заказа_поставщику),
foreign key (Имя)
      references Поставщик (Имя)
);

--==============================================================
-- Index: Relationship_7_FK
--==============================================================
create  index Relationship_7_FK on Заказ_поставщику (
Имя ASC
);

--==============================================================
-- Table: Книга_в_заказе_поставщику
--==============================================================
create table Книга_в_заказе_поставщику (
Номер_книги          INTEGER              not null,
Номер_заказа_поставщику INTEGER              not null,
Количество_в_заказе_поставщику INTEGER              not null,
primary key (Номер_книги, Номер_заказа_поставщику),
foreign key (Номер_книги)
      references Книга (Номер_книги),
foreign key (Номер_заказа_поставщику)
      references Заказ_поставщику (Номер_заказа_поставщику)
);

--==============================================================
-- Index: Relationship_6_FK
--==============================================================
create  index Relationship_6_FK on Книга_в_заказе_поставщику (
Номер_книги ASC
);

--==============================================================
-- Index: Relationship_8_FK
--==============================================================
create  index Relationship_8_FK on Книга_в_заказе_поставщику (
Номер_заказа_поставщику ASC
);

--==============================================================
-- Table: Поставка
--==============================================================
create table Поставка (
Номер_поставки       INTEGER              not null,
Имя                  VARCHAR(100)         not null,
Дата_поставки        DATE                 not null,
primary key (Номер_поставки),
foreign key (Имя)
      references Поставщик (Имя)
);

--==============================================================
-- Index: Relationship_5_FK
--==============================================================
create  index Relationship_5_FK on Поставка (
Имя ASC
);

--==============================================================
-- Table: Заказ_клиента
--==============================================================
create table Заказ_клиента (
Номер_заказа_клиента INTEGER              not null,
Логин                VARCHAR(16)          not null,
Дата_заказа_клиента  DATE                 not null,
Подтверждение        smallint             not null,
Состояние            smallint             not null,
primary key (Номер_заказа_клиента),
foreign key (Логин)
      references Клиент (Логин)
);

--==============================================================
-- Index: Relationship_2_FK
--==============================================================
create  index Relationship_2_FK on Заказ_клиента (
Логин ASC
);

--==============================================================
-- Table: Книга_в_заказе_клиента
--==============================================================
create table Книга_в_заказе_клиента (
Номер_заказа_клиента INTEGER              not null,
Номер_книги          INTEGER              not null,
Количество_в_заказе_клиента INTEGER              not null,
primary key (Номер_заказа_клиента, Номер_книги),
foreign key (Номер_заказа_клиента)
      references Заказ_клиента (Номер_заказа_клиента),
foreign key (Номер_книги)
      references Книга (Номер_книги)
);

--==============================================================
-- Index: Relationship_1_FK
--==============================================================
create  index Relationship_1_FK on Книга_в_заказе_клиента (
Номер_заказа_клиента ASC
);

--==============================================================
-- Index: Relationship_4_FK
--==============================================================
create  index Relationship_4_FK on Книга_в_заказе_клиента (
Номер_книги ASC
);

--==============================================================
-- Table: Книга_в_поставке
--==============================================================
create table Книга_в_поставке (
Номер_поставки       INTEGER              not null,
Номер_книги          INTEGER              not null,
Количество_в_поставке INTEGER              not null,
primary key (Номер_поставки, Номер_книги),
foreign key (Номер_поставки)
      references Поставка (Номер_поставки),
foreign key (Номер_книги)
      references Книга (Номер_книги)
);

--==============================================================
-- Index: Relationship_9_FK
--==============================================================
create  index Relationship_9_FK on Книга_в_поставке (
Номер_поставки ASC
);

--==============================================================
-- Index: Relationship_10_FK
--==============================================================
create  index Relationship_10_FK on Книга_в_поставке (
Номер_книги ASC
);

drop table if exists Категория;
create table Категория(
  Название varchar(100) primary key
);
